[project]
id = "tatparya-local"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322
major_version = 15

[studio]
enabled = true
port = 54323

[auth]
enabled = true
site_url = "http://localhost:3000"
enable_signup = true

[auth.email]
enable_signup = true
enable_confirmations = false

[auth.sms]
enable_signup = true
enable_confirmations = true

[auth.sms.test_otp]
"9876543210" = "123456"

[storage]
enabled = true
file_size_limit = "50MiB"
